    <!-- start home >shop >img -->
    <div class="connection-home-shop">
        <p>
          Home<span><i class="bx bx-chevron-right"></i></span>my-account</p>
      </div>
      <!-- end home > Account -->
      <section class="Account">
        <div class="account-container">
            <div class="part options">
                <p  class="choise active Dashboard"><i class='bx bx-slider-alt'></i> Dashboard</p>
                <p class="choise Orders"><i class='bx bx-shopping-bag' ></i> Orders</p>
                <p class="choise Update"><i class='bx bx-user'></i> Update Profile</p>
                <p class="choise Address"><i class='bx bx-current-location' ></i> My Address</p>
                <p class="choise Change"><i class='bx bx-user'></i> Change Password</p>
                <p class="choise Logout"><i class='bx bx-log-out' ></i> Logout</p>
            </div>
            <div class="part data-option">
                <div class="dashboard active this">
                <div class="dashboard-content">
                    <div class="head">
                    <h2>Hello Rosie!</h2>
                </div>
                <div class="paragraph-container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit placeat laudantium tempore accusantium a, officia animi voluptates nobis blanditiis qui .</p>
                </div>
                </div>
            </div>
            <div class="order this">
                <div class="order-content">
                    <div class="head">
                        <h2>Your Orders </h2>
                    </div>
                    <div class="data">
                        <div class="kind order-data">
                            <h3>Order</h3>
                            <p>#1357</p>
                            <p>#1357</p>
                            <p>#1357</p>
                        </div>
                        <div class="kind Date-data">
                            <h3>Date</h3>
                            <p>March 45.2020</p>
                            <p>March 45.2020</p>
                            <p>March 45.2020</p>
                        </div>
                        <div class="kind Status-data">
                            <h3>Status</h3>
                            <p>processing</p>
                            <p>processing</p>
                            <p>processing</p>
                        </div>
                        <div class="kind total-data">
                            <h3>Total</h3>
                            <p>$125.00</p>
                            <p>$125.00</p>
                            <p>$125.00</p>
                        </div>
                        <div class="kind Action-data">
                            <h3>Action</h3>
                            <p>Veiw</p>
                            <p>Veiw</p>
                            <p>Veiw</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="update this">
                <div class="update-container">
                    <div class="head">
                        <h2>Your Orders </h2>
                    </div>
                    <div class="update-input">
                        <input type="text" placeholder="Username">
                        <div class="btn"><a href=""> Save </a></div>
                    </div>
                </div>
            </div>
            <div class="address this">
                <div class="address-content">
                    <div class="head">
                        <h2>Shipping address </h2>
                    </div>
                    <div class="address-data">
                        <p>3522 intrestate</p>
                        <p>75 Business Spur,</p>
                        <p>Sault Ste,</p>
                        <p>Marie.Mi 49783</p>
                        <p>New Yourk</p>
                        <p>Edit</p>
                    </div>
                </div>
            </div>
            <div class="change-password this">
                <div class="change-password-container">
                    <div class="head">
                        <h2>Change Password </h2>
                    </div>
                    <div class="change-password-input">
                        <input type="text" placeholder="Current password">
                        <input type="text" placeholder="New password">
                        <input type="text" placeholder="Confirm password">
                        <div class="btn"><a href=""> Save </a></div>
                    </div>
                </div>
            </div>
            <div class="logout this">
                <div class="logout-container">
                    <div class="head">
                        <h2>Logout</h2>
                    </div>
                    <div class="logout-box">
                        <h2>Are You sure!</h2>
                        <div class="btn yes"><a href=""> Yes </a></div>
                        <div class="btn no"><a href=""> No </a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </section>
