<!-- <div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div>
        <label for="email">Enter your registered email</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <button type="submit" class="btn">Reset Password</button>
    </form>
  </div> -->

<!-- nn  -->
 
<div class="parent">
    <div class="container">
      <div class="form-box login">
          <form (ngSubmit)="resetPassword()">
              <h1>Forgot Password</h1>
              <div class="input-box">
                  <input type="email" [(ngModel)]='email' [ngModelOptions]="{standalone: true}"  name="email"   placeholder="Enter your registered email" required>
                  <i class='bx bxs-user'></i>
              </div>
              <button type="submit"  class="btn">Reset Password</button>
          </form>
      </div>
    
      <div class="form-box register">
          <form >
              <button type="submit" class="btn" >Register</button>
          </form>
      </div>
    
      <div class="toggle-box">
          <div class="toggle-panel toggle-left">
              <h1>Hello, Welcome!</h1>
          </div>
      </div>
    </div>
</div>

<!-- sdfg                                   -->


<!-- <div class="parent">
    <div class="container">
      <div class="form-box login">
          <form (ngSubmit)="login()">
              <h1>Login</h1>
              <div class="input-box">
                  <input type="email" [(ngModel)]='loginObj.email' [ngModelOptions]="{standalone: true}"  name="email"   placeholder="email" required>
                  <i class='bx bxs-user'></i>
              </div>
              <div class="input-box">
                  <input type="password" [(ngModel)]="loginObj.password" [ngModelOptions]="{standalone: true}"  name="passWord" placeholder="Password" required>
                  <i class='bx bxs-lock-alt'></i>
              </div>
              <div class="forgot-link">
                  <a routerLink="/forgot-password">Forgot Password?</a>
              </div>
              <button type="submit"  class="btn">Login</button>
              <p>or login with social platforms</p>
              <div class="social-icons">
                  <a href="#"><i class='bx bxl-google' ></i></a>
                  <a href="#"><i class='bx bxl-facebook' ></i></a>
                  <a href="#"><i class='bx bxl-github' ></i></a>
                  <a href="#"><i class='bx bxl-linkedin' ></i></a>
              </div>
          </form>
      </div>
    
      <div class="form-box register">
          <form (ngSubmit)="registerUser()">
              <h1 >Registration</h1>
              <div class="input-box">
                  <input type="text" [(ngModel)]="signupObj.name" [ngModelOptions]="{standalone: true}" placeholder="Username" required>
                  <i class='bx bxs-user'></i>
              </div>
              <div class="input-box">
                  <input type="email" [(ngModel)]="signupObj.email" [ngModelOptions]="{standalone: true}" placeholder="Email" required>
                  <i class='bx bxs-envelope' ></i>
              </div>
              <div class="input-box">
                  <input type="password" [(ngModel)]="signupObj.password" [ngModelOptions]="{standalone: true}" placeholder="Password" required>
                  <i class='bx bxs-lock-alt' ></i>
              </div>
              <button type="submit" class="btn" >Register</button>
              <p>or register with social platforms</p>
              <div class="social-icons">
                  <a href="#"><i class='bx bxl-google' ></i></a>
                  <a href="#"><i class='bx bxl-facebook' ></i></a>
                  <a href="#"><i class='bx bxl-github' ></i></a>
                  <a href="#"><i class='bx bxl-linkedin' ></i></a>
              </div>
          </form>
      </div>
    
      <div class="toggle-box">
          <div class="toggle-panel toggle-left">
              <h1>Hello, Welcome!</h1>
              <p>Don't have an account?</p>
              <button class="btn register-btn">Register</button>
          </div>
    
          <div class="toggle-panel toggle-right">
              <h1>Welcome Back!</h1>
              <p>Already have an account?</p>
              <button class="btn login-btn">Login</button>
          </div>
      </div>
    </div>
    </div> -->
  
  
    
  
  
    
