<div class="connection-home-shop">
    <p>
      Home<span><i class="bx bx-chevron-right"></i></span>shop<span
        ><i class="bx bx-chevron-right"></i
      ></span>
      CheckOut
    </p>
  </div>
  <section class="checkout">
      <div class="checkout-content">
          <div class="section billing">
              <h2>Billing Details</h2>
              <form [formGroup]="myform">
              <input type="text" formControlName="name" placeholder="Name">
              <input type="email" formControlName="email" placeholder="Email">
              <input type="text" formControlName="address" placeholder="Address">
              <input type="text" formControlName="city" placeholder="city">
              <input type="text" formControlName="country" placeholder="Country">
              <input type="text" formControlName="postcode" placeholder="Postcode">
              <input type="tel" formControlName="phone" placeholder="Phone">
              <h2>Additional information</h2>
              <textarea name="" id="" placeholder="Order notes"></textarea>
              <button class="btn"  (click)="onSubmit()" [disabled]="this.myform.invalid"><a > Place Order</a></button>
            </form>
          </div>
          <div class="section carttotal">
              <h2>Cart Totals</h2>
              <div class="product">
                  <div class="thead">
                      <p>product</p>
                      <p>Total</p>
                  </div>
                  <div class="iteme" *ngFor="let item of cartproducts">
                      <div class="img-container">
                          <img [src]="item.productImageUrl" alt="">
                      </div>
                      <p >{{item.productName}}</p>
                      <p  class="total">${{item.productPrice}}</p>
                  </div>
                  <!-- <div class="title subtotal">
                      <p>Subtotal</p>
                      <p class="subtotall">${{total}}</p>
                  </div> -->
                  <div class="title shipping">
                      <p>shipping</p>
                      <p class="shippingg">${{cartproducts.length * 5}}</p>
                  </div>
                  <div class="title total">
                      <p>Total</p>
                      <p class="cost">${{total}}</p>
                  </div>
                  <h2>Payment</h2>
                  <form action="">
                  <div class="options">
                  <input class="check" name="chooseone" type="radio" id="choose">
                  <label for="choose">Direct Bank Transfer</label>
                  </div>
                  <div class="options brack">
                  <input class="check" name="chooseone" type="radio" id="choose2">
                  <label for="choose2">Check payment</label>
                  </div>
                  <div class="options">
                  <input class="check" name="chooseone" type="radio" id="choose3">
                  <label for="choose3">paypal</label>
                  </div>
                  </form>
                  <!-- <div class="btn"  (click)="onSubmit()" [disabled]="this.myform.invalid"><a > Place Order</a></div> -->
              </div>
          </div>
      </div>
  </section>
